:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --hover-text-color: #2196f3;
  --accent-text-color: #ffffff;
  --big-space: 94px;
  --betw-space: 30px;
  --menu-space: 32px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation .container {
  display: flex;
  align-items: center;
}

/* Navigation */

.navigation {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

.manu-container {
  display: flex;
  padding-top: var(--menu-space);
  padding-bottom: var(--menu-space);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.tel-container {
  display: flex;
  padding-top: var(--menu-space);
  padding-bottom: var(--menu-space);
  margin-left: auto;
}

.menu,
.menu:visited {
  color: var(--title-text-color);
  text-decoration: none;
}
.tel,
.tel:visited {
  color: var(--primary-text-color);
}

.menu:hover,
.menu:focus,
.tel:hover,
.tel:focus {
  color: var(--hover-text-color);
  outline: none;
}

/* LOGO */
.web {
  color: var(--hover-text-color);
}
.logo,
.logo:visited {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

/* HERO */
.banner {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0px 280px 0px;
  background: #2f303a;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-button {
  background-color: var(--hover-text-color);
  color: var(--accent-text-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  border: none;
  margin-top: 40px;
  padding-top: var(--menu-space);
  padding-bottom: var(--menu-space);
}

.space-sections {
  padding-bottom: var(--big-space);
}

h1 {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
/* первый блок */
.advantages {
  padding-top: var(--big-space);
}

.advantages-list {
  display: flex;
}
.list-item {
  min-width: 270px;
}

.advantages p {
  color: var(--primary-text-color);
  line-height: 1.7;
}

.advantages h3 {
  padding-bottom: 10px;
}

.list-item:not(:last-child) {
  margin-right: var(--betw-space);
}

/* второй блок */

h2 {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--title-text-color);
  text-align: center;

  padding-bottom: 50px;
}

.what-we-do {
  padding-bottom: var(--big-space);
}

.img-examples {
  display: flex;
  align-items: center;
}

.img-examples-item:not(:last-child) {
  margin-right: var(--betw-space);
}

/* 3 blok */
.team {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;

  padding-top: var(--big-space);
  padding-bottom: var(--big-space);
}

.team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  padding-bottom: 10px;
}

.team-list {
  display: flex;
}
.team-person {
  padding-bottom: var(--betw-space);
}

.team-person:not(:last-child) {
  margin-right: var(--betw-space);
}
.about-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--betw-space);
}

/* Footer */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .logo {
  color: var(--accent-text-color);

  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.list-address:not(:last-child) {
  padding: 0px;
  margin-bottom: 9px;
}

.contacts,
.contacts:visited {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.address,
.address:visited {
  color: var(--accent-text-color);
}
